header{
	border:solid 1px;
	padding:10px;
}

table{
	margin:auto;
	height:600;
	width:600;
	background:url(../images/Nain-Jaune.png);
	background-repeat:no-repeat;
	background-size:cover;
}

ul{
	display:block;
}

li{
	display:inline-block;
	text-align:center;
	height:120px;
	width:80px;
	border:solid 1px;
	margin-bottom:10px;
}

div#score{
	float:right;
	border:solid 1px;
	width:200px;
	height:95%;
	padding:10px;
}
